.card {
    width: 18rem; 
    background: -webkit-radial-gradient(-180px 0px,circle ,#0053ad 100px,#001b85 350px,#000223);
}

#cardContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#container {
    background: -webkit-radial-gradient(-180px 0px,circle ,#0053ad 100px,#001b85 350px,#000223);
    color: beige;
}